*{
    padding: 0px;
    margin: 0px;
    font-family: "poppins",sans-serif;
}
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.border{
    display: inline-block;
    border: solid #cfcfcf 5px;
    border-radius: 20px;
    width: 500px;
    height: 600px;
    margin-top: 50px;
    background-color: #cfcfcf;
}
h1{
    
    padding-top: 30px;
}
input{
    margin-top: 20px;
    padding: 20px;
    width: 60%;
    border-radius: 20px;
}
button{
    padding: 8px 30px;
    margin-top: 10px;
    border-radius: 10px;
}
p{
    margin-top: 10px;
}